.contents{
    min-height: 90px;
    width: 90%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem !important;

}
.contents-in{
    display: flex;
}
.contentss{
    min-height: 80px;
    width: 90%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    font-size: 2rem !important;
    margin-bottom: 50px;
}
.img3{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}