.footer{
    width: 100%;
    min-height: 50vh;
    background: #45526e !important;
    color: azure;
    font-size: 1.2rem;
}
.footer-in{
    width: 90%;
    margin: auto;
    min-height:50vh;
    display: grid;
    align-items: end;
    /* justify-content: center; */
}
.footer-in a{
    text-decoration: none
}